@page
@model SBD.Pages.LinieLotnicze.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LiniaLotnicza</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LiniaLotnicza.kod" class="control-label"></label>
                <input asp-for="LiniaLotnicza.kod" class="form-control" />
                <span asp-validation-for="LiniaLotnicza.kod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LiniaLotnicza.nazwa" class="control-label"></label>
                <input asp-for="LiniaLotnicza.nazwa" class="form-control" />
                <span asp-validation-for="LiniaLotnicza.nazwa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
