@page
@model SBD.Pages.LinieLotnicze.DetailsModel

@{
    ViewData["Title"] = "Szczegóły linii lotniczej";
}

<h1>Szczegóły linii lotniczej</h1>

<div>
    <h4>Linia lotnicza</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LiniaLotnicza.nazwa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LiniaLotnicza.nazwa)
        </dd>
    </dl>
</div>
<div>
    <a class="btn button button4" asp-page="./Edit" asp-route-id="@Model.LiniaLotnicza.kod">Edytuj</a> |
    <a class="btn button button4" asp-page="./Index">Powrót do listy</a>
</div>
