@page
@model SBD.Pages.Account.AccessDeniedModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1> Nie posiadasz uprawnień do wyświetlania tej strony</h1>
</body>
</html>
