@page
@model SBD.Pages.Piloci.CreateModel

@{
    ViewData["Title"] = "Dodaj pilota";
}

<h1>Dodaj pilota</h1>

<h4>Pilot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pilot.imie" class="control-label"></label>
                <input asp-for="Pilot.imie" class="form-control" />
                <span asp-validation-for="Pilot.imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pilot.nazwisko" class="control-label"></label>
                <input asp-for="Pilot.nazwisko" class="form-control" />
                <span asp-validation-for="Pilot.nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pilot.kod_linii" class="control-label"></label>
                <select asp-for="Pilot.kod_linii" class="form-control" asp-items="ViewBag.kod_linii">
                    <option disabled selected>----</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Pilot.nazwa_uzytkownika" class="control-label"></label>
                <input asp-for="Pilot.nazwa_uzytkownika" class="form-control" />
                <span asp-validation-for="Pilot.nazwa_uzytkownika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pilot.haslo" class="control-label"></label>
                <input asp-for="Pilot.haslo" class="form-control" />
                <span asp-validation-for="Pilot.haslo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn button button4" value="Dodaj" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn button button4" asp-page="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
