@page
@model SBD.Pages.Loty.CreateModel

@{
    ViewData["Title"] = "Dodaj lot";
}

<h1>Dodaj lot</h1>

<h4>Lot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Lot.data" class="control-label"></label>
                <input asp-for="Lot.data" class="form-control" />
                <span asp-validation-for="Lot.data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lot.id_samolotu" class="control-label"></label>
                <select asp-for="Lot.id_samolotu" class ="form-control" asp-items="ViewBag.id_samolotu"></select>
            </div>
            <div class="form-group">
                <label asp-for="Lot.id_lotniska_startowego" class="control-label"></label>
                <select asp-for="Lot.id_lotniska_startowego" class ="form-control" asp-items="ViewBag.id_lotniska_startowego"></select>
            </div>
            <div class="form-group">
                <label asp-for="Lot.id_lotniska_koncowego" class="control-label"></label>
                <select asp-for="Lot.id_lotniska_koncowego" class ="form-control" asp-items="ViewBag.id_lotniska_koncowego"></select>
            </div>
            <div class="form-group">
                <label asp-for="Lot.id_kapitana" class="control-label"></label>
                <select asp-for="Lot.id_kapitana" class ="form-control" asp-items="ViewBag.id_kapitana"></select>
            </div>
            <div class="form-group">
                <label asp-for="Lot.id_oficera" class="control-label"></label>
                <select asp-for="Lot.id_oficera" class ="form-control" asp-items="ViewBag.id_oficera"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn button button4" asp-page="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
