@page
@model SBD.Pages.Bagaze.EditModel

@{
    ViewData["Title"] = "Edytuj bagaż";
}

<h1>Edytuj bagaż</h1>

<h4>Bagaz</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Bagaz.id_bagazu" />
            <div class="form-group">
                <label asp-for="Bagaz.waga" class="control-label"></label>
                <input asp-for="Bagaz.waga" class="form-control" />
                <span asp-validation-for="Bagaz.waga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn button button4" asp-page="./Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
