@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @if (Request.Cookies["UserLoginCookie"] == null)
    {
        <h2>Witaj zaloguj sie aby korzystać z serwisu</h2>
    }
    else {<h2>Witaj @User.Identity.Name</h2>}
    <center><img  style="height:90%" src="https://zapodaj.net/images/ee292e70988f8.png"></center>
</body>
</html>
